body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

* {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

:root {
    --vertical-offset: 0px; /* Default vertical offset */
}

.square-block {
    position: absolute;
    background-color: #4387BA;
    top: calc(0% + var(--vertical-offset)); /* Adjust vertical position */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vmin;
    height: 100vmin;
    box-sizing: border-box;
}

.loading-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.selection-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.banner {
    height: 9vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF00;
    margin: 3vmin; /* Adds margin around the banner */
    margin-bottom: 0;
    margin-top: 1.5vh;
    border-radius: 2vmin;
}

.banner-text {
    font-family: Arial, sans-serif;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    color: black;
}

.grid-container {
    height: 89vmin;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1vmin;
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.grid-item img {
    border: 1vmin solid transparent;
    border-radius: 3vmin;
    width: 80%;
}

.grid-item.selected img {
    border: 1vmin solid #FFFF00;
}

.image-label {
    color: white;
    font-size: 2vmin;
}

.loading-screen img {
    height: 85vmin;
}

.selection-screen img {
    width: 100vmin;
    height: 100vmin;
}

.back-button {
    position: absolute;
    bottom: 2vmin;
    right: 2vmin;
    background-color: #FFFF00;
    border: none;
    border-radius: 1vmin;
    padding: 1vmin;
    font-size: 2.5vmin;
    font-weight: bold;
    cursor: pointer;
    color: black;
    display: block;
}

.back-button.hidden{
    display: none;
}

.scale-on-touch {
    transition: transform 0.1s ease;
}

.scale-on-touch.pressed {
    transform: scale(0.90);
}